<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixabay Images</title>
    <link rel="icon" href="../images/favicon.svg" type="image/svg" />
    <link rel="stylesheet" href="../sass/index.scss" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="../js/infinite-scroll.js"></script>
    <script type="module" src="../js/fixed-search-field.js"></script>
  </head>
  <body>
    <div class="form-container">
      <form class="search-form" id="search-form">
        <div class="search-container container">
          <input
            class="search-input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search images..."
          />
          <button class="search-button" type="submit" name="submitBtn">
            Search
          </button>
        </div>

        <div class="options-container container">
          <div class="option-container">
            <p class="'option-name">Image type</p>
            <label>
              <input type="radio" name="imageType" value="all" />
              All
            </label>
            <label>
              <input type="radio" name="imageType" value="photo" checked />
              Photo
            </label>
            <label>
              <input type="radio" name="imageType" value="illustration" />
              Illustration
            </label>
            <label>
              <input type="radio" name="imageType" value="vector" />
              Vector
            </label>
          </div>

          <div class="option-container">
            <p class="'option-name">Orientation</p>
            <label>
              <input type="radio" name="orientation" value="all" />
              All
            </label>
            <label>
              <input
                type="radio"
                name="orientation"
                value="horizontal"
                checked
              />
              Horizontal
            </label>
            <label>
              <input type="radio" name="orientation" value="vertical" />
              Vertical
            </label>
          </div>

          <div class="option-container forspan">
            <p class="option-name">
              Images per page:<span class="js-selected-value">40</span>
            </p>
            <label>
              <input
                type="range"
                name="perPage"
                value="40"
                min="5"
                max="100"
                step="1"
              />
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="gallery"></div>

    <div class="js-guard"></div>

    <div class="backdrop loader-container is-hidden">
      <span class="loader"></span>
    </div>

    <a class="return-link" href="../index.html"><< Go Back</a>
  </body>
</html>
