:root {
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --green-color: rgb(2, 190, 110);
  --white-color: rgb(255, 255, 255);
}

/* ==================================================== */

body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

/* ==================================================== */

.container {
  margin-right: auto;
  margin-left: auto;
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.link-page {
  text-decoration: none;
  background-color: var(--green-color);
  color: var(--white-color);
  display: inline-block;
  min-width: 220px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: 3px solid var(--green-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  transition: background-color var(--primary-transition),
    color var(--primary-transition), transform var(--primary-transition);
}

.link-page:hover,
.link-page:focus {
  background-color: var(--white-color);
  color: var(--green-color);
  transform: scale(1.05);
}

/* ========================================================= */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 768px;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(2, 190, 110, 1),
    rgba(2, 190, 110, 1)
  );
}

.form-container.no-transparency {
  background-image: linear-gradient(
    to bottom,
    rgba(2, 190, 110, 1),
    rgba(2, 190, 110, 0.5)
  );
  backdrop-filter: blur(6px);
  color: var(--yellow-main);
  z-index: 1;
  fill: var(--button-green);
}

.search-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.search-input {
  border: 1px solid var(--green-color);
  border-radius: 20px;
  height: 37px;
  padding-left: 25px;
  outline: none;
}

.search-button,
.return-link {
  padding: 5px 15px;
  background-color: var(--green-color);
  color: var(--white-color);
  border: 3px solid var(--white-color);
  border-radius: 20px;
  font-weight: 600;

  transition: background-color var(--primary-transition),
    color var(--primary-transition), transform var(--primary-transition);
}

.search-button:hover,
.search-button:focus,
.return-link:hover,
.return-link:focus {
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--green-color);
  transform: scale(1.05);
}

.return-link {
  position: fixed;
  top: 10px;
  left: 30px;
  z-index: 2;
}

.options-container {
  gap: 15px;
}

.option-container {
  border: 3px solid var(--white-color);
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 20px;
}

.option-container p{
  display: flex;
}

/* ========================================================= */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 110px;
}

.photo-card {
  position: relative;
  width: 350px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform var(--primary-transition),
    box-shadow var(--primary-transition);
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image-container {
  width: inherit;
  height: 250px;
}

.preview-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.info {
  padding: 15px;
  display: flex;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;
}

/* ====================================================== */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.load-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid var(--green-color);
  border-radius: 30px;
  background-color: var(--white-color);
  color: var(--green-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.load-more:hover {
  background-color: var(--green-color);
  color: var(--white-color);
  transform: scale(1.05);
}

/* ========================== LOADER ==========================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--green-color);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--primary-transition),
    visibility var(--primary-transition);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  margin-left: -90px;
  margin-top: -90px;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}

.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}

.is-hidden {
  display: none;
}
/* ============================================== */

.options-container {
  display: flex;
}
